<h2>Find pictures from places across San Francisco...</h2>
<div id="searchContainer">
    <form id="searchForm" action="#">
        <input id="locationSearch" type="text" placeholder="Somewhere in San Francisco"/>
    </form>
</div>