<h1 id="homeHeadline" class="headline">Find pictures from places across the city</h1>
<div id="searchContainer">
    <form id="searchForm" action="#">
        <input id="locationSearch" type="text" placeholder="Somewhere in San Francisco..." autocomplete="off" />
    </form>
</div>