<h1 class="headline">Find the latest pictures from places across the city</h1>
<div id="searchContainer">
    <form id="searchForm" action="#">
        <input type="text" placeholder="Somewhere in San Francisco..." autocomplete="off" />
    </form>
</div>