<header>
    <img id="backArrow" class="clickable" src="/assets/back_arrow.png">
</header>
<div id="backgroundContainer">
    <div id="contentContainer"></div>
</div>
<footer>
    {{include "layouts/footer"}}
</footer>