*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/log/*.log
/log
/tmp
run.sh

/db/*.sqlite3

# YARD artifacts
.yardoc
_yardoc
doc/

# Don't include the settings, keep the keys secret
/config/settings.yml.original
