<div id="soloPictureContainer">
    <img src="{{images.standard_resolution.url}}" >
    <a id="likeIcon" href="#">
        <img src="/assets/like_icon.png" >
    </a>
    {{#if caption}}
        <span>{{caption.text}}</span>
    {{/if}}
</div>