/* Main layout's styling*/

body {
  padding: 0px;
  margin: 0px;
  background-color: black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

a {
   outline: 0;
}

header {
  height: 50px;
}

header #backArrow {
  opacity: 0.5;
  padding: 0 0 0 5px;
}

header #backArrow:hover {
  opacity: 1;
}

footer {
  height: 50px;
  padding: 15px 0 0 5px;
}

footer #loggedInMessage {
  color: white;
  font-weight: 200;
  padding: 0 0 0 5px;
}

.headline {
  color: #5A5A5A;
  text-align: center;
  margin: 0 0 35px;
  font-weight: 200;
}

.container {
  background-color: rgba(247, 247, 247, 0.95);
  border: 3px solid black;
  border-radius: 5px 5px 5px 5px;
  margin: 10px auto;
  padding: 10px;
  width: 705px;
  text-align: center;
}

#backgroundContainer {
  background-image: url('http://i.imgur.com/jKu1Moi.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
}

#contentContainer {
  padding: 20px 0 0;
}

.clickable {
  cursor: pointer;
}

/********************
Home view's styling */

#homeContainer {
  margin: 100px auto;
}

#homeContainer h1 {
  margin: 0 0 35px;
}

#searchContainer {
  margin: 0px auto;
  width: 500px;
}

#searchContainer form {
  margin: 0 0 10px;
}

#searchContainer input {
  width: 500px;
  height: 30px;
  font-size: 17px;
  padding: 4px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid gray;
}

/*************************
Location Results styling */

.location {
  font-size: 19px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.location:hover {
  background-color: #346F9A;
  color: white;
}

.location span {
  font-size: 15px;
  position: relative;
  bottom: 1px;
}

/***********************
Solo location styling*/

#locationContainer {
  background-color: rgba(0, 0, 0, 0.65);
  border: 1px solid white;
  width: 705px;

}
#locationContainer h1 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
#locationContainer p {
  font-size: 25px;
  color: white;
  text-align: center;
  margin: 0 0 20px;
}

#locationContainer #mapContainer {
  height: 175px;
}

#locationContainer #picturesContainer {
  margin: 20px 0 0;
  height: 300px;
  overflow-x: auto;
}

#largePicture {
  float: left;
  margin: 10px 5px 0;
  padding: 0;
  width: 612px;
}

.gridItem {
  float: left;
  border: 1px solid gray;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  /*display: inline-block;*/
  margin: 0 5px 10px 3px;
  padding: 5px;
  transition: box-shadow 230ms ease 0s;
  background-color: #F5F5F5;
  height: 150px;
  width: 150px;
  vertical-align: top;
}

.gridItem:hover {
  box-shadow: 0 0 35px rgba(255, 255, 255, 1);
}

#soloPictureContainer {
  position: relative;
}

#soloPictureContainer span {
  background: rgba(0,0,0,0.65);
  border-right: 1px solid white;
  border-top: 1px solid white;
  bottom: 3px;
  color: white;
  display: block;
  font-size: 18px;
  font-weight: 200;
  padding: 10px 20px;
  position: absolute;
}

#soloPictureContainer:hover #likeIcon {
  right: 40px;
  opacity: 0.65;
}

#soloPictureContainer #likeIcon {
  right: -15px;
  position: absolute;
  top: 35px;
  opacity: 0;
  transition: all 0.3s ease;
}

#soloPictureContainer #likeIcon:hover {
  opacity: 1;
}