/* Main layout's styleing*/

html {
  background-color: black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

a {
   outline: 0;
}

header {
  height: 50px;
}

footer {
  height: 50px;
  padding: 15px 0 0 5px;
}

#loggedInMessage {
  color: white;
  font-weight: 200;
  padding: 0 0 0 5px;
}

.headline {
  color: #5A5A5A;
  text-align: center;
  margin: 0 0 35px;
  font-weight: 200;
}

.container {
  background-color: #F7F7F7;
  border: 3px solid black;
  border-radius: 5px 5px 5px 5px;
  margin: 10px 400px 0;
  opacity: 0.95;
  padding: 10px;
  width: 705px;
}

#backgroundContainer {
  background-image: url('http://i.imgur.com/jKu1Moi.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
}

#contentContainer {
  padding: 20px 0 0;
}

/* Home view's styling */

#homeHeadline {
  margin: 0 0 35px;
}

#homeContainer {
  margin: 100px 400px 0;
}

#searchContainer {
  margin: 0px auto;
  width: 500px;
}

#searchForm {
  margin: 0 0 10px;
}

#locationSearch {
  width: 500px;
  height: 30px;
  font-size: 17px;
}

/* Location Results styling*/
#locationsList {
}

.location {
  /*margin: 0 0 10px;
  padding: 2px 0 0;*/
  font-size: 19px;
  text-align: center;
  padding: 7px 0;
  border-bottom: 1px solid gray;
}

.location:hover {
  background-color: #346F9A;
  color: white;
  cursor: pointer;
}

.smallAddress {
  font-size: 15px;
  position: relative;
  bottom: 1px;
}

/* Solo location styling*/
#locationContainer {
  width: 705px;
  background-color: #969D9E;
  margin: 10px 350px 0;
}
.locationHeadline {
  color: white;
}
#address {
  font-size: 19px;
  text-align: center;
}

#mapContainer {
  height: 175px;
}

#picturesContainer {
  margin: 20px 0 0;
  height: 300px;
  overflow-x: auto;
}

#largePicture {
  float: left;
  margin: 10px 5px 0;
  padding: 0;
  width: 612px;
}

.gridItem {
  border: 1px solid gray;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 0 5px 10px 0;
  padding: 5px;
  transition: box-shadow 230ms ease 0s;
  background-color: #F5F5F5;
}

.highlight {
  border: 1px solid gray;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 0 5px 10px 0;
  padding: 5px;
  transition: box-shadow 230ms ease 0s;
  background-color: #F5F5F5;
}

.gridItem:hover {
  box-shadow: 0 0 35px rgba(255, 255, 255, 1);
  cursor: pointer;
}

#soloPictureContainer span {
  background: rgba(0,0,0,0.65);
  bottom: 36px;
  color: white;
  left: 0px;
  position: relative;
  padding: 10px 20px;
  font-size: 18px;
  border-right: 1px solid white;
  border-top: 1px solid white;
}

#soloPictureContainer:hover #likeIcon {
  right: 40px;
  opacity: 1;
}

#soloPictureContainer #likeIcon {
  right: -15px;
  position: absolute;
  top: 35px;
  opacity: 0;
  transition: all 0.3s ease;
}

#soloPictureContainer #likeIcon:hover {
  opacity: 1;
}